*{
  box-sizing:border-box;
}

html,body{
  font-family:'Source Sans Pro', 'Arial', sans-serif;
  -webkit-font-smoothing:antialiased;
  padding:0;
  margin:0;
  color:#555a7e;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.main-header{
  font-family:'Ropa Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  position:relative;
  padding:0;
}

.main-header nav a.title{
  color:white;
  background-color:#555a7e;
  padding:15px 30px;
  position:absolute;
  left:0;
  top:0;
  margin-bottom:0;
}

.main-header h1,
.main-header nav a{
  margin:0;
  font-size:1rem;
  display:inline-block;
}

.main-header nav a,
.main-header nav span{
  padding:15px 0 1px 0;
  margin-right:30px;
  margin-bottom:13px;
  display: inline-block;
}

.main-header nav a.active{
  border-bottom:1px solid #555a7e;
}

.main-header nav span{
  color:#aaa;
}

.main-header nav *{
  white-space:nowrap;
}

@media screen and ( max-width:900px ){
  .main-header nav a.title{
    position:static;
  }
}

@media screen and ( max-width:580px ){
  .main-header nav a.title{
    width:100%;
    margin-left:0;
  }
  .main-header nav a,
  .main-header nav span{
    margin-left:15px;
    margin-right:15px;
  }
  .main-header nav{
    text-align: center;
  }
}

a,
a:visited,
a:link{
  text-decoration: none;
  color:#555a7e;
}

.main-header nav,
article{
  margin:0 auto;
  width:540px;
}

@media screen and ( max-width:580px ){
  body{
    padding:0 20px;
  }
  .main-header nav,
  article{
    width:100%;
  }
}

article{
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #f0f0f0;
  font-size:0.9rem;
}

article:last-of-type{
  margin-bottom:30px;
  border-bottom:1px solid #f0f0f0;
}

article>*{
  margin-top:15px;
  padding:0;
}

article>a{
  display:block;
}

article header{
  margin-top:0px;
  margin-bottom:0px;
}

article header a,
article header a:visited,
article header a:link{
  text-decoration: none;
}

article a,
article a:visited,
article a:link{
  text-decoration: underline;
}

article header a:hover{
  text-decoration: underline;
}

article header h2{
  font-size:1.7rem;
  margin:0;
  padding:0;
}

article header h3{
  font-size:1rem;
  margin:5px 0 0 0;
  padding:0;
  font-weight:400;
  color:#80818c;
}

article h4{
  margin-top:30px;
  margin-bottom:0;
  font-size:1.3rem;
  font-weight:400;
}

article p{
  margin:15px 0;
  text-align:justify;
}

article figure{
  width:560px;
  margin:0;
  margin-top:20px;
  padding:0;
  position:relative;
  margin-left:-10px;
}

article ol li{
  margin-bottom:5px;
}

article dl dt{
  font-weight:600;
  margin:0 0 5px 0;
  padding:0;
  width:20%;
  display:inline-block;
  vertical-align: top;
}

article dl dd{
  margin:0 0 5px 0;
  padding:0;
  display:inline-block;
  vertical-align: top;
  width:78%;
}


@media screen and ( max-width:580px ){
  article figure{
    width:100%;
    margin-left:0;
  }
}

article figure a,
article figure img,
article figure iframe,
article figure object,
article figure canvas{
  width:100%;
  height:auto;
  border-radius:3px;
}

article figure a+figcaption,
article figure img+figcaption,
article figure iframe+figcaption,
article figure object+figcaption,
article figure canvas+figcaption{
  font-style:italic;
  color:#80818c;
  background:transparent;
  border-radius:0;
  padding:0;
}

article figure pre{
  padding:7px 15px 10px 15px;
  border-radius:3px;
  margin:0;
  background-color:#f0f0f0;
  color:#2b2d40;
  white-space:pre-wrap;
  font-size:0.8rem;
}

article figure figcaption+pre{
  border-top-right-radius:0;
  border-top-left-radius:0;
}

article figure figcaption{
  font-size:0.9rem;
  height:27px;
  padding:5px 15px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:#e3e3e3;
  color:#7279ab;
}

article figure figcaption strong{
  color:#2b2d40;
}

article figure+*{
  margin-top:20px;
}

article figure+h4{
  margin-top:40px;
}

article footer{
  margin-top:30px;
  color:#80818c;
}

article footer dl{
  border-top:1px solid #f0f0f0;
  padding-top:30px;
  margin-top:30px;
  padding-bottom:0;
  margin-bottom:5px;
}

article footer dt,
article footer dd{
  display:block;
  width:auto;
  margin:0;
  padding:0;
}

article footer dd{
  margin-top:15px;
  padding-left:15px;
}

article footer dd+dt{
  margin-top:30px;
}